body {
	background-color: green;
}

nav {
	background-color: black;
	font: bold 3em arial;
} 

p {
	background-color: lightgreen;
	color: blue;
	border: solid;
	border-color: black;
	font: italic 2em serif;
}	

li {
	color: yellow;
	font: 2em cursive
}

h1 {
	color: yellow;
	font: 3em sans-serif;
}

h2 {
	display:inline;
	font: 2.5em sans-serif;
	background-color: lightblue;
}

.test {
	float: left;
    	width: 440px;
}

.section {
	display: flex;
}

h3 {
font: 2em cursive
}

a {
color: white;
}

.images {
margin-top: 35px
}

.colors {
color: blue;
}
