body {
	background-color: green;
}

p {
	background-color: lightgreen;
	color: blue;
	border: solid;
	border-color: black;
	font: italic 1.5em serif;
}

li {
	color: yellow;
	font: 1em cursive;
}

h1 {
	font: 2.5em sans-serif;
}

h2 {
	display:inline;
	font: 3em sans-serif;
	background-color: red;
}

h3 {}

.lists {
	background-color: blue;
}

.test {
	float: left;
    width: 200px;
}

.section {
	display:flex;
}
