body {
	background-color: green;
}

p {
	background-color: lightgreen;
	color: blue;
	border: solid;
	border-color: black;
	font: italic 2em serif;
}

li {
	color: yellow;
	font: 1em cursive;
}

h1 {
	font: 3em sans-serif;
}

h2 {
	display:inline;
	font: 2.5em sans-serif;
	background-color: lightblue;
}

h3 {}

.lists {
	background-color: blue;
	display: inline
}

.test {
	float: left;
    width: 440px;
}

.section {
display: inline;
}
